
<div class="create-container">
    <div class="authors-content">
      <form class="form-container" (submit)="create()">
        <div class="form-line">Author Name: <input type="text" name="name" required minlength="3" #name='ngModel' [(ngModel)]="author.name" required>
          <div *ngIf="name.invalid">
            <div *ngIf="name.errors.required">
                Author name required.
            </div>
            <div *ngIf="name.errors.minlength">
                Author name must be at least three characters long.
            </div>
          </div>
        </div>
        <p>Quotes:</p>
        <div class="form-line"> <input type="text" name="quotes" required minlength="3" #quotes='ngModel' [(ngModel)]="author.quotes" required>
          <div *ngIf="quotes.invalid">
            <div *ngIf="quotes.errors.required">
                Quotes is required.
            </div>
            <div *ngIf="quotes.errors.minlength">
                Quotes must be at least three characters long.
            </div>
          </div>
        </div>
        <input class="btn-create" type="submit" value="Create Author"/>
      </form>
      <button (click)="handleCancelClick()">Cancel</button>
    </div>

<div *ngFor="let key of error">
    <h1>{{key}}</h1>
</div>
  </div>
  
  